* {
  margin: 0;
  padding: 0;
}

:root {
  --padding: calc(8px + 1.7vw) calc(8px + 2.4vw);
  --padding-md: calc(6px + 1.35vw) calc(7px + 1.4vw);
  --padding-sm: calc(5px + 1.1vw) calc(6px + 1.25vw);
  --padding-xs: calc(3px + .25vw) calc(3px + .65vw);
  --padding-xxs: calc(2px + .1vw) calc(2px + .3vw);
  --margin-s: calc(3px + .65vw);
  --margin-m: calc(5px + 1.25vw);
  --margin-l: calc(7px + 1.7vw);
  --margin-xl: calc(8px + 3.4vw);
  --margin-xxl: calc(10px + 4vw);
  --border: 2px solid;
  --border-radius: 8px;
  --color-blue-gradient: linear-gradient(var(--color-soft-blue-solid), var(--color-soft-blue-clear));
  --font-family-sans: "VC Cardinal Wide", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  --font-family-serif: "VC Cornbread";
  --font-family-headline: "VC Cardinal";
  --font-family-headline-wide: "VC Cardinal Wide";
  --font-family-eyebrow: "VC Gooper Text";
}

html {
  font-family: var(--font-family-serif);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  transition: color 700ms ease-in;
}

::selection {
  color: var(--color-black);
  background: var(--color-tan);
  text-shadow: 2px 2px 2px var(--color-white);
}
h1 { 
  font-size: 3.875rem;
  margin-bottom: var(--margin-s);
  line-height: .98;
  font-family: var(--font-family-headline);
  font-weight: 600;
}
h2 { 
  font-size: 1.3rem;
  margin-bottom: var(--margin-m);
  line-height: 1.2;
  letter-spacing: .05rem;
  font-family: var(--font-family-headline);
  font-weight: 600;
}
h4 { 
  font-size: 1.15rem;
  margin-bottom: var(--margin-m);
  line-height: 1.4;
  letter-spacing: 0rem;
  font-family: var(--font-family-serif);
  font-weight: 600;
}
h5 { 
  font-size: .675rem;
  margin-bottom: var(--margin-s);
  line-height: 1;
  letter-spacing: .05rem;
  text-transform: uppercase;
  font-family: var(--font-family-eyebrow);
  font-weight: 600;
}
h6 { 
  font-size: .875rem;
  margin-bottom: var(--margin-s);
  letter-spacing: .05rem;
  line-height: 1.1;
  font-family: var(--font-family-headline-wide);
  font-weight: 600;
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
    line-height: 1.4;
  }
}
@media screen and (min-width: 481px) and (max-width: 1000px) {
  html {
    font-size: 17px;
    line-height: 1.4;
  }
}
p {
  margin-bottom: var(--margin-m);
}
.no-mb {
  margin-bottom: 0px;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
img {
  width: 100%;
}
body {
  margin: 0 auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
a.link {
  color: var(--color-grey);
  text-decoration: none;
  border-bottom: var(--border) var(--color-grey);
}
a.link:hover {
  color: var(--color-black);
  border-bottom: var(--border) var(--color-black);
}
.hover-blue:hover {
  background: var(--color-soft-blue);
}
a.bg-blue {
  display: block;
  box-sizing: border-box;
  border-bottom: var(--border) var(--color-white);
}

a.bg-blue:hover {
  border-bottom: var(--border) var(--color-black);
}
a .hover-show {
  opacity: 0;
  transform: translateX(-40px);
  transition: all 100ms ease-in-out;
}
a:hover .hover-show {
  transform: translateX(0px);
  opacity: 1;
}
a .hover-hide {
  opacity: 1;
}
a:hover .hover-hide {
  opacity: 0;
}
button {
  font: inherit;
  background: none;
  border: 0;
  color: currentColor;
  cursor: pointer;
}
.button {
  display:grid; 
  width: 100%; 
  box-sizing:border-box;
  padding: var(--padding-sm);
  text-align: center;
  border-radius: var(--border-radius);
  background: var(--color-black);
  color: var(--color-white);
  min-height: 38px;
  align-items: center;
}
strong, b {
  font-weight: 600;
}
small {
  font-size: inherit;
  color: var(--color-grey);
}
.bt-yellow {
  border-top: var(--border) var(--color-yellow);
}
.bb-tan {
  border-bottom: var(--border) var(--color-yellow);
}
.bb-soft-blue {
  border-bottom: var(--border) var(--color-soft-blue);
}
.bt-tan {
  border-top: var(--border) var(--color-tan);
}
.bt-white {
  border-top: var(--border) var(--color-white);
}
.fill-black {
  fill: var(--color-black);
}
.stroke-black {
  stroke: var(--color-black);
  stroke-width: 2px;
}
.bg-yellow {
  background-color: var(--color-yellow);
}
.bg-tan {
  background-color: var(--color-tan);
}
.bg-coral {
  background-color: var(--color-coral);
}
.bg-light {
  background-color: var(--color-light);
}
.bg-blue {
  background-color: var(--color-soft-blue);
}
.bg-blue-gradient {
  background-image: var(--color-blue-gradient);
}
.bg-white {
  background-color: var(--color-white);
}
.bg-black {
  background-color: var(--color-bg-black);
}
.bg-grey {
  background-color: var(--color-grey);
}
.color-grey {
  color: var(--color-grey);
}
.color-black {
  color: var(--color-black);
}
.padding {
  padding: var(--padding);
}
.padding-sm {
  padding: var(--padding-sm);
}
.padding-xs {
  padding: var(--padding-xs);
}
.padding-xxs {
  padding: var(--padding-xxs);
}
.color-white {
  color: var(--color-white);
}
.color-soft-blue {
  color: var(--color-soft-blue);
}
.color-yellow {
  color: var(--color-yellow);
}
.color-coral {
  color: var(--color-coral);
}
.color-tan {
  color: var(--color-tan);
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
  color:var(--color-black);
  border: var(--border) var(--color-black);
  padding: var(--padding-xs);
  background: var(--color-white);
  width: 100%;
  font-family: var(--font-family-sans);
  font-weight: 600;
  letter-spacing: .06em;
  font-size: .875rem;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}
input[type="text"]:hover, input[type="email"]:hover, input[type="url"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="number"]:hover, input[type="tel"]:hover, input[type="date"]:hover, input[type="month"]:hover, input[type="week"]:hover, input[type="time"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="color"]:hover, textarea:hover {
  border: var(--border) var(--color-grey);
  background: var(--color-blue);
}
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus {
  border: var(--border) var(--color-grey);
  background: var(--color-blue);
}
input[type="submit"] {
  width: 100%;
  color:var(--color-white);
  border: var(--border) var(--color-black);
  padding: var(--padding-xs);
  background: var(--color-black);
  width: 100%;
  font-family: var(--font-family-sans);
  font-weight: 600;
  letter-spacing: .06em;
  font-size: .875rem;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}
#mce-responses .response {
  font-family: var(--font-family-sans);
  font-weight: 600;
  letter-spacing: .06em;
  font-size: .875rem;
}

.nav {
  overflow: hidden;
  display: flex;
  align-items: center;
  background: var(--color-yellow);
  padding: var(--padding);
}
.nav > * {
  display: inline;
}

.nav > .logo {
  flex-grow: 1;
}

.menu {
  text-align: right;
  align-items: center;
  
}
.menu > * {
  float: left;
  margin-left: calc(3px + 2.5vw);
}
.menu .link {
  display: flex;
  align-items: center;
  height: 37px;
}
@media screen and (max-width: 829px) {
  .nav svg {
    max-height: 30px;
  }
  .menu .link {
    height: 30px;
  }
}
.menu .link a {
  border-top: var(--border) transparent;
  border-bottom: var(--border) transparent;
}
.menu .link a:hover {
  border-bottom: var(--border) var(--color-black);
}
.menu .link [aria-current] {
  border-bottom: var(--border) var(--color-grey);
}
.social {
  display: flex;
  padding: 0 .5rem;
}
.social a {
  padding: 1rem .5rem;
}

.section {
  padding: 3rem 0;
}
.flex {
  display: flex;
}
.grid {
  --columns: 12;
  --gutter: 0rem;
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: 1fr;
}
.grid-locked {
  --columns: 12;
  --gutter: 0rem;
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: 1fr;
  grid-template-columns: repeat(12, 1fr);
}
.grid-locked > .column {
  grid-column: span var(--columns);
}

.autogrid {
  --gutter: 3rem;
  --min: 10rem;
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
  grid-auto-flow: dense;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.article-text > p,
.article-text > ol,
.article-text > ul {
  line-height: 1.5;
  letter-spacing: .025em;
}
.main p {
  line-height: 1.5;
  letter-spacing: .025em;
}
.main p a[href] {
  border-bottom: var(--border) var(--color-grey);
}
.footer p {
  line-height: 1.5;
  letter-spacing: .025em;
}
.article-text :first-child {
  margin-top: 0;
}
.article-text :last-child {
  margin-bottom: 0;
}
.article-text > *:not(a) {
  margin-bottom: calc(4px + .9vw);
  max-width: 100%;
}
.article-text ul > li {
  list-style: disc;
  margin-left: calc(8px + 1.9vw);
}
.article-text ol > li {
  list-style: decimal;
  margin-left: calc(8px + 1.9vw);
}
.article-text ul ol,
.article-text ul ul,
.article-text ol ul,
.article-text ol ol {
  margin-bottom: 0;
}
.article-text .codeblock {
  display: grid;
}
.article-text code {
  font-family: var(--font-family-mono);
  font-size: 1rem;
  background: var(--color-tan);
  border-radius: var(--border-radius);
  padding: var(--padding-xxs);
  display: inline-block;
  color: var(--color-black);
}
.article-text pre {
  margin: 3rem 0;
  background: var(--color-black);
  color: var(--color-white);
  padding: 1.5rem;
  overflow-x: scroll;
  overflow-y: hidden;
  line-height: 1.5rem;
}
.article-text pre code {
  padding: 0;
  background: none;
  color: inherit;
}
.article-text hr {
  margin: 6rem 0;
}
.article-text dt {
  font-weight: 600;
}
.article-text blockquote {
  box-sizing: border-box;
  font-size: 1.25rem;
  line-height: 1.45;
  background: var(--color-blue-gradient);
  color: var(--color-black);
  padding: var(--padding-md);
  margin: calc(4px + .85vw) 0;
  border-radius: var(--border-radius);
  letter-spacing: 0.035em;
  font-weight: 600;
}
.article-text blockquote footer {
  font-size: .875rem;
  font-family: var(--font-family-sans);
  letter-spacing: 0.04em;
  padding-top: 1vw;
}
.article-text > figure {
  filter: grayscale(1);
  transition: filter 250ms ease-in;
}
.article-text > figure:hover {
  filter: grayscale(0);
}
.article-text figure+*:not(figure) {
  margin-top: 2vw;
}
.article-text figure~figure {
  margin-bottom: calc(2px + 1.3vw);
}
.article-text figure figcaption, .article-footnotes, .in-use figure figcaption {
  color: var(--color-grey);
  font-family: var(--font-family-headline-wide);
  max-width: 360px;
}
.article-text figure figcaption, .article-footnotes ol, .in-use figure figcaption {
  font-weight: 600;
  letter-spacing: 0.065em;
  font-size: .75rem;
  line-height: 1.75;
}
.article-footnotes ol {

}
.article-footnotes ol li {
  list-style-type: decimal;
  margin-left: 17px;
  margin-bottom: var(--margin-m);
}
.main {
  transition: height 200ms ease-in;
  min-height: 50vh;
}
 dl > *, dl > * {
  display: inline-block;
}
 dl > dt, dl > dt {
  min-width: 110px;
}

hr {
  border: 0;
  background: currentColor;
  height: 2px;
  width: 1.5rem;
  margin: 3rem auto;
}

.intro {
  max-width: 481px;
}
.intro *:not(:last-child) {
  margin-bottom: 1em;
}

.cta {
  background: var(--color-black);
  color: var(--color-white);
  display: inline-flex;
  justify-content: center;
  padding: .75rem 1.5rem;
  border: 4px solid var(--color-white);
  outline: 2px solid var(--color-black);
}

.box {
  background: var(--color-light);
  padding: 1.5rem;
  border: 4px solid var(--color-white);
  outline: 2px solid var(--color-light);
}

.video,
.img {
  position: relative;
  display: block;
  --w: 1;
  --h: 1;
  padding-bottom: calc(100% / var(--w) * var(--h));
  background: var(--color-black);
}
.img img,
.video iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0;
}
.img[data-contain] img {
  object-fit: contain;
}
.img-caption,
.video-caption {
  padding-top: .75rem;
  line-height: 1.5em;
}


.footer .column {
  padding: var(--padding);
}
.footer a:hover {
  text-transform: underline;
}

.margin-s {
  margin-bottom: var(--margin-s);
}
.margin-m {
  margin-bottom: var(--margin-m);
}
.margin-l {
  margin-bottom: var(--margin-l);
}
.margin-xl {
  margin-bottom: var(--margin-xl);
}
.margin-xxl {
  margin-bottom: var(--margin-xxl);
}

@media screen and (max-width: 829px) {
  .desktop-only {
    display: none !important;
  }
}
@media screen and (min-width: 829px) {
  .mobile-only {
    display: none !important;
  }

  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid > .column {
    grid-column: span var(--columns);
  }

}

.pagination > span {
  color: var(--color-grey);
  background: var(--color-tan);
}
.pagination > * {
  display: inline-block;
  padding: var(--padding-xs);
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  border-bottom: var(--border) var(--color-white);
  background: var(--color-soft-blue);
}
.pagination > a:hover {
  color: var(--color-black);
  border-bottom: var(--border) var(--color-black);
}

.container {
  width: 98%;
  max-width: 1248px;
  margin: 0 auto;
  box-sizing: border-box;
}
.article-tags a {
  padding: var(--padding-xs);
}
.article-intro {
  padding: var(--padding-sm);
  border-radius: var(--border-radius);
}
.rounded-corners {
  border-radius: var(--border-radius);
}
.rounded-corners-full {
  border-radius: 20px;
}
.article-footer {
}

.article-excerpt header {
  
}
.article-excerpt figure {
  
}
.article-excerpt-title {
  margin-bottom: .25vw;

}
.article-excerpt-date {
  margin-bottom: 0px;
}

.theme-switch-wrapper {
  align-items: center;
}
.theme-switch {
  cursor: pointer;
}
.theme-switch:hover svg {
  background: var(--color-coral);
  border-radius: 100%;
}

.theme-switch input {
  display: none;
}

.theme-switch {
  
}

.shopify-cart-toggle {
  position: relative;
  text-align: center;
  cursor: pointer;
  color: var(--color-grey);
}
.shopify-cart-toggle:hover {
  color: var(--color-black);
}
.shopify-cart-toggle svg {
  display: inline;
}
.shopify-buy-frame--toggle {
  padding: 0px !important;
}
.shopify-cart-toggle svg.shopify-buy__icon-cart {
  display: none;
}
.shopify-buy--visually-hidden, .shopify-buy__btn--close .visuallyhidden {
  display: none;
}

.shopify-buy__cart-toggle {
  position: absolute;
  top: 50%;
  line-height: 1;
  transform: translateY(-35%);
  left: 0px;
  font-family: var(--font-family-sans);
  font-size: .8rem;
  width: 100%;
}
.shopify-buy-cart-wrapper {
  height: 0px;
}

.shopify-buy-cart-wrapper.is-active {
  height: 100vh;
  box-shadow: 0px 0px 56px var(--color-soft-blue);
}
.shopify-buy-frame--cart {
  width: 70vw !important;
  min-width: 300px;
  max-width: 420px !important;
}
.shopify-buy__cart {
  height: 100%;
  border-left: var(--border) var(--color-white);
  display: flex;
  flex-direction: column;
}
.shopify-buy__cart-scroll {
  flex-grow: 1;
  background: var(--color-tan);
  overflow-y: scroll;
}
.shopify-buy__cart__header {
  padding: var(--padding);
  display: flex;
  background: var(--color-soft-blue);
}
.shopify-buy__cart-bottom {
  padding: var(--padding);
  border-top: var(--border) var(--color-white);
  background: var(--color-tan); 
}
.shopify-buy__cart__notice {
  color: var(--color-grey);
  font-family: var(--font-family-headline-wide);
  letter-spacing: 0.08em;
  line-height: 1.6;
  font-size: .75rem;
}
.shopify-buy__cart__subtotal__price {
  font-family: var(--font-family-headline);
  font-size: 1.5rem;
}
.shopify-buy__cart__subtotal__text {
  font-family: var(--font-family-eyebrow);
  font-size: .675rem;
  margin-bottom: var(--margin-s);
  letter-spacing: 0.02em;
}
.shopify-buy__cart__title {
  flex-grow: 1;
  font-size: 1.25rem;
  margin-bottom: var(--margin-s);
  margin-top: var(--margin-s);
  line-height: 1.4;
  letter-spacing: 0rem;
  font-family: var(--font-family-serif);
  font-weight: 600;
}
.shopify-buy__cart-item {
  padding: var(--padding);
  background: var(--color-blue-gradient);
  font-family: var(--font-family-sans);
  border-bottom: var(--border) var(--color-white);
  display: flex;
  align-items: baseline;
  position: relative;
}
.shopify-buy__cart-item:last-of-type {
  border-bottom: 0px;
}
.shopify-buy__quantity-container {
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
  position: relative;
  margin-top: -50%;
  transform: translateY(40%);
  margin-right: 16px;
}
.shopify-buy__quantity-container:after {
  content: "Licenses";
  display: block;
  position: absolute;
  left: 32px;
  top: 50%;
  margin-top: -19px;
  background: var(--color-soft-blue);
  padding: var(--padding-xs);
  border-radius: var(--border-radius);
  color: var(--color-grey);
  opacity: 0;
  transition: opacity 300ms ease-in-out, box-shadow 50ms ease-in-out;
  pointer-events: none;
}
.shopify-buy__quantity-container:hover:after {
  opacity: 1;
}
.shopify-buy__quantity-container input {
  border: 0px;
  padding: 0px;
  margin-left: 5px;
  margin-right: -10px;
  background: transparent;
  width: 24px;
  text-align: center;
  opacity: 0;
  height: 0px;
  transition: opacity 300ms ease-in-out, height 100ms ease-in-out;
}
.shopify-buy__quantity-container input:hover {
  border: 0px;
  padding: 0px;
  background: transparent;
}
.shopify-buy__quantity-container:hover input {
  opacity: 1;
  height: 14px;
}
.shopify-buy__quantity-container:hover:after {
  opacity: 1;
}
.shopify-buy__quantity-container .visuallyhidden {
  display: none;
}
.shopify-buy__quantity-container .shopify-buy__btn--seamless  {
  width: 18px;
  height: 18px;
}
.shopify-buy__quantity-container .shopify-buy__btn--seamless svg {
  width: 100%;
  height: 100%;
  fill: var(--color-grey);
}
.shopify-buy__quantity-container:hover .shopify-buy__btn--seamless svg {
  background: var(--color-blue);
  fill: var(--color-grey);
}

.shopify-buy__cart-empty-text {
  padding: var(--padding);
  background: var(--color-tan);
  border-bottom: var(--border) var(--color-white);
}
.shopify-buy__cart-item .shopify-buy__cart-item__price-and-discounts {
  text-align: right;
  
}
.shopify-buy__cart-item .shopify-buy__cart-item__variant-title {
  font-size: .675rem;
  letter-spacing: 0.02em;
  opacity: 0;
  color: var(--color-grey);
  flex-grow: 1;
  margin-left: 8px;
}
.shopify-buy__cart-item:hover .shopify-buy__cart-item__variant-title {
  opacity: 1;
}
.shopify-buy__cart-item .shopify-buy__cart-item__image {
  background-size: cover;
  display: none;
}
.shopify-buy__quantity-container {
  
}
.shopify-buy__cart-item.is-hidden { animation-name: flipOut; }
.shopify-buy__btn--close {
  padding-left: 20px;
  line-height: .25;
  font-size: 30px;
  margin-top: -10px;
  outline: none;
}
.shopify-buy__btn--cart-checkout {
  font-family: var(--font-family-sans);
}

.shopify-buy__btn {
  background: var(--color-black);
  color: var(--color-white);
  padding: var(--padding-sm);
  width: 100%;
  letter-spacing: .03rem;
  border-radius: var(--border-radius);
}
.shopify-buy__btn h6 {
  font-size: 1rem;
  margin-right: 10px;
}

/* Theme switcher */
input + svg {
  transform: rotate(0deg);
}
input:checked + svg {
  transform: rotate(180deg);
}

/* Home */
.page-home .bb-soft-blue ~ .bb-soft-blue:last-of-type {
  border-bottom: 0px;
}
.type-preview {
  border-top: var(--border) var(--color-white);
  position: relative;
  transition: background 500ms ease-in;
}
.full-width-text {
  margin-top: -.75vw;
  margin-bottom: .75vw;
}
.page-home .type-preview .font-details {
  position: absolute;
  padding: var(--padding-sm);
  left: 0px;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  color: var(--color-soft-blue);
  background-image: linear-gradient(var(--color-soft-blue-clear), var(--color-soft-blue-solid));
  opacity: 1;
  transition: color 150ms ease-in;
}
@media screen and (max-width: 480px) {
  .page-home .type-preview .font-details {
    opacity: 0;
  }
}
.page-home .type-preview:hover {
  border-top: var(--border) var(--color-white);
  opacity: 1;
}
.page-home .type-preview:hover .font-details {
  color: var(--color-grey);
  
}
.full-width-text {
  text-align: center;
  font-size: 180px; /* Some tweener fallback that doesn't look awful */ 
  font-size: 10.5vw;
  line-height: 1.05;
  
}

/* Article */
.note {
  max-width: 35rem;
  margin: 0 auto;
}
.note-header {
  padding-top: var(--margin-l);
  margin-bottom: var(--margin-l);
}
.note-footer {
  padding: 6rem 0;
}
.note-date {
  color: var(--color-text-grey);
}
.note-tags {
  display: flex;
  margin-bottom: 1.5rem;
}
.note-tags li {
  margin-right: .5rem;
}
.note-tags a {
  padding: .5rem 1rem;
  display: block;
  background: var(--color-light);
}
.note-tags a:hover {
  background: var(--color-black);
  color: var(--color-white);
}
.article-text {
  margin-top: 1.25vw;
}

/* About */
contact .h1 {
  margin-bottom: 1.5rem;
}
.page-about .main section {
  background-image: var(--color-blue-gradient);
}
.page-about .main section:last-of-type {
  background: var(--color-coral);
  margin-bottom: 0px;
}
.page-about .main section:last-of-type img {
  max-height: 100px;
  width: auto;
}

/* Font */
@charset "UTF-8";
.fsjs-skin {
  opacity: 0;
  border-top: var(--border) var(--color-blue);
  position: relative;
}

.fsjs-skin.fsjs-initialized {
  opacity: 1;
  display: block;
  background: var(--color-white);
}
.fsjs-skin .fsjs-block-tester {
  transition: opacity 0.2s ease-out;
  opacity: 1;
}
.fsjs-skin.fsjs-loading .fsjs-block-tester, .fsjs-skin.fsjs-timeout .fsjs-block-tester {
  opacity: 0;
}
.fsjs-skin > .fsjs-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: var(--color-blue-gradient);
  transition: color 0.2s ease-out;
  color: var(--color-soft-blue);
}
.fsjs-skin:hover .fsjs-wrapper {
  color: var(--color-grey);
}
@media screen and (max-width: 829px) {
  .fsjs-skin .fsjs-block:not(.fsjs-block-fontsize, .fsjs-block-fontfamily, .fsjs-block-tester, .fsjs-block-type-textfield) {
    display: none;
  }
}
@media screen and (min-width: 830px) {
  .fsjs-skin > .fsjs-wrapper {
    flex-wrap: nowrap;
  }
}
.fsjs-skin .fsjs-block-tester {
  display: block;
}
.fsjs-skin .fsjs-block-tester .fsjs-element {
  padding: var(--padding-xs);
  margin-top: -1.5vw; 
  margin-bottom: 1.5vw;
}
.fsjs-skin .fsjs-block-tester .fsjs-element:focus {
  
}

.fsjs-skin .fsjs-block,
.fsjs-skin [data-axis-block] {
  width: 100%;
}
.fsjs-skin .fsjs-block:not(.fsjs-block-type-textfield) {
  box-sizing: border-box;
  align-self: center;
  position: relative;
  padding: var(--padding-xs);
  font-family: var(--font-family-sans);
  font-weight: 600;
  letter-spacing: 0.055em;
  width: 100%;
  border-radius: 2px;
}
.fsjs-skin .fsjs-block.fsjs-block-alignment, .fsjs-skin .fsjs-block.fsjs-block-opentype {
  width: 35%;
}
.fsjs-skin .fsjs-block:not(.fsjs-block-alignment, .fsjs-block-opentype, .fsjs-block-tester, .fsjs-block-type-textfield) {
  width: 50%;
}

.fsjs-skin [data-axis-block] {
  margin-top: 0;
  margin-bottom: 0;
}
.fsjs-skin .fsjs-label {
  line-height: 1.5em;
  font-size: .875rem;
}
.fsjs-wrapper > div.fsjs-block.fsjs-block-type-slider > label > .fsjs-label-text {
  display: none;
}
.fsjs-skin .fsjs-block-type-slider .fsjs-label,
.fsjs-skin .fsjs-block-type-slidergroup .fsjs-label {
  width: 100%;
}
.fsjs-skin .fsjs-block-type-slider .fsjs-label span:first-child,
.fsjs-skin .fsjs-block-type-slidergroup .fsjs-label span:first-child {
  margin-right: auto;
}

.fsjs-skin .fsjs-block-opentype .fsjs-label {
  display: block;
  justify-content: flex-start;
}
.fsjs-skin [contenteditable] {
  outline: none;
  color: var(--color-black);
}
.fsjs-skin .fsjs-button, .fsjs-skin .fsjs-block-type-buttongroup button {
  background: transparent;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: 1;
  align-self: center;
  width: 24px;
  height: 24px;
}
.fsjs-skin .fsjs-button:hover, .fsjs-skin .fsjs-block-type-buttongroup button:hover {
  background: var(--color-soft-blue);
  color: var(--color-grey);
}

.fsjs-skin .fsjs-block-type-buttongroup button {
  border-radius: 0;
}
.fsjs-skin .fsjs-block-type-buttongroup button:first-of-type {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.fsjs-skin .fsjs-block-type-buttongroup button:last-of-type {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.fsjs-skin .fsjs-block-type-buttongroup button + button {
  border-right: 2px solid transparent;
}
.fsjs-skin .fsjs-block-type-checkboxes {
  display: flex;
  align-items: center;
  flex-grow: 0;
}
.fsjs-skin .fsjs-block-type-checkboxes [data-fsjs] label {
  cursor: pointer;
  padding: 5px;
  flex-grow: 1;
}
.fsjs-skin .fsjs-block-type-checkboxes [data-fsjs] label input[type=checkbox] + span:before {
  background: var(--color-soft-blue);
}
.fsjs-skin .fsjs-block-type-checkboxes [data-fsjs] label:hover input[type=checkbox] + span:before, .fsjs-skin .fsjs-block-type-checkboxes [data-fsjs] label:focus input[type=checkbox] + span:before {
  background: var(--color-grey);
}
.fsjs-skin .fsjs-block-type-checkboxes input[type=checkbox] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}
.fsjs-skin .fsjs-block-type-checkboxes label.fsjs-checkbox-inactive {
  pointer-events: none;
}
.fsjs-skin .fsjs-block-type-checkboxes label.fsjs-checkbox-inactive input[type=checkbox]:checked + span:after {
  background: var(--color-black);
}
.fsjs-skin .fsjs-block-type-checkboxes input[type=checkbox] + span {
  position: relative;
  padding-left: 27px;
}
.fsjs-skin .fsjs-block-type-checkboxes input[type=checkbox] + span:before, .fsjs-skin .fsjs-block-type-checkboxes input[type=checkbox] + span:after {
  content: " ";
  display: block;
  border-radius: 2px;
  position: absolute;
  left: 6px;
  top: 6px;
  height: 10px;
  width: 10px;
}
.fsjs-skin .fsjs-block-type-checkboxes input[type=checkbox]:checked + span:after {
  border-radius: 0;
  background: var(--color-black);
  border: 0px solid var(--color-black);
  border-radius: 2px;
  padding: 0;
  left: 6px;
  top: 6px;
}
.fsjs-skin .dk-select,
.fsjs-skin .dk-select *,
.fsjs-skin .dk-select *:before,
.fsjs-skin .dk-select *:after,
.fsjs-skin .dk-select-multi,
.fsjs-skin .dk-select-multi *,
.fsjs-skin .dk-select-multi *:before,
.fsjs-skin .dk-select-multi *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fsjs-skin .dk-select,
.fsjs-skin .dk-select-multi {
  position: relative;
  display: block;
  vertical-align: middle;
  cursor: pointer;
}
.fsjs-skin .dk-selected {
  min-width: 230px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  padding: 0.1em 0.5em 0;
  padding-right: 1.5em;
  line-height: 2em;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.fsjs-skin .dk-selected:before, .fsjs-skin .dk-selected:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
}
.fsjs-skin .dk-selected:before {
  top: 50%;
  border: var(--border) transparent;
  border-width: 0.25em 0.25em 0;
  margin: -0.125em 0.5em 0 0;
}
.fsjs-skin .dk-selected:after {
  top: 0;
  height: 100%;
  margin: 0 1.5em 0 0;
}
.fsjs-skin .dk-selected-disabled {
  color: var(--color-grey);
}
.fsjs-skin .dk-select .dk-select-options {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
}
.fsjs-skin .dk-select-open-up .dk-select-options {
  border-radius: 2px 2px 0 0;
  margin-bottom: -1px;
  bottom: 100%;
}
.fsjs-skin .dk-select-open-down .dk-select-options {
  border-radius: 0 0 2px 2px;
  margin-top: -1px;
  top: 100%;
}
.fsjs-skin .dk-select-multi .dk-select-options {
  max-height: 10em;
}
.fsjs-skin .dk-select-options {
  list-style: none;
  margin: 0;
  max-height: 75vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  width: auto;
  z-index: 100;
  box-shadow: 3px 3px 0px 0px var(--color-grey);
}
.fsjs-skin .dk-select-options-highlight .dk-option-selected {
  background-color: transparent;
  color: inherit;
}
.fsjs-skin .dk-option {
  padding: 0.1em 0.5em 0;
  line-height: 2em;
}
.fsjs-skin .dk-select-options .dk-option-highlight {
  background: var(--color-soft-blue);
  color: var(--color-black);
}
.fsjs-skin .dk-select-options .dk-option-disabled {
  color: var(--color-grey);
  background-color: transparent;
}
.fsjs-skin .dk-select-options .dk-option-hidden {
  display: none;
}
.fsjs-skin .dk-select-open-up .dk-select-options,
.fsjs-skin .dk-select-open-down .dk-select-options,
.fsjs-skin .dk-select-multi:focus .dk-select-options {
  display: block;
  background: var(--color-white);
}
.fsjs-skin .dk-selected:hover,
.fsjs-skin .dk-selected:focus {
  outline: none;
  background: var(--color-soft-blue);
  color: var(--color-black);
}
.fsjs-skin .dk-select-disabled {
  opacity: 0.6;
  background: var(--color-grey);
  cursor: not-allowed;
}
.fsjs-skin .dk-select-disabled .dk-selected:hover, .fsjs-skin .dk-select-disabled .dk-selected:focus {
  border-color: inherit;
}
.fsjs-skin .dk-select-disabled .dk-selected:hover:before, .fsjs-skin .dk-select-disabled .dk-selected:focus:before {
  border-top-color: inherit;
}
.fsjs-skin .dk-select-disabled .dk-selected:hover:after, .fsjs-skin .dk-select-disabled .dk-selected:focus:after {
  border-left-color: inherit;
}
.fsjs-skin select[data-dkcacheid] {
  display: none;
}
.fsjs-skin .rangeSlider {
  margin: 0.5em auto;
}
.fsjs-skin .rangeSlider,
.fsjs-skin .rangeSlider__fill {
  display: block;
  border-radius: 2px;
}
.fsjs-skin .rangeSlider {
  position: absolute;
  top: 5px;
  transform: translateY(50%);
  left: 0px;
  height: 14px;
  z-index: 0;
  background: var(--color-soft-blue);
}
.fsjs-skin .rangeSlider__horizontal {
  height: 2px;
  width: 100%;
}

.fsjs-wrapper > div.fsjs-block.fsjs-block-type-slider > .rangeSlider {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.fsjs-wrapper > div.fsjs-block.fsjs-block-type-slider:hover, .fsjs-wrapper > div.fsjs-block.fsjs-block-type-slider:active {
  background: var(--color-soft-blue);
  color: var(--color-soft-blue);
}
.fsjs-wrapper > div.fsjs-block.fsjs-block-type-slider:hover .fsjs-skin .dk-selected:before, .fsjs-wrapper > div.fsjs-block.fsjs-block-type-slider:active .fsjs-skin .dk-selected:before {
  border-top-color: var(--color-black);
}
.fsjs-skin .fsjs-block-type-checkboxes label.fsjs-checkbox-inactive input[type=checkbox] + span:before, .fsjs-skin .fsjs-block-type-checkboxes label.fsjs-checkbox-inactive input[type=checkbox] + span:after {
  border-color: var(--color-black);
}
.fsjs-skin .fsjs-button.fsjs-button-selected, .fsjs-skin .fsjs-block-type-buttongroup button.fsjs-button-selected {
  color: var(--color-black);
}
.fsjs-wrapper > div.fsjs-block.fsjs-block-type-slider:hover > .rangeSlider, .fsjs-wrapper > div.fsjs-block.fsjs-block-type-slider:active > .rangeSlider {
  opacity: 1;
}

.fsjs-skin .rangeSlider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
.fsjs-skin .rangeSlider__fill {
  background: var(--color-soft-blue);
  position: absolute;
}
.fsjs-skin .rangeSlider__fill__horizontal {
  height: 100%;
  top: 0;
  left: 0;
}
.fsjs-skin .rangeSlider__handle {
  cursor: pointer;
  display: inline-block;
  width: 12px;
  height: 12px;
  position: absolute;
  background: var(--color-black);
  border-radius: 50%;
  left: 0;
}
.fsjs-skin .rangeSlider__handle__horizontal {
  top: -1px;
}
.fsjs-skin .rangeSlider__handle:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  background: transparent;
  border-radius: 50%;
}
.fsjs-skin .fsjs-disabled .fsjs-label {
  color: var(--color-grey);
}
.fsjs-skin .fsjs-disabled .rangeSlider {
  pointer-events: none;
  background-color: var(--color-grey);
}
.fsjs-skin .fsjs-disabled .rangeSlider .rangeSlider__handle,
.fsjs-skin .fsjs-disabled .rangeSlider .rangeSlider__fill {
  background-color: var(--color-grey);
}
.fsjs-skin .fsjs-disabled .dk-select .dk-selected {
  color: var(--color-grey);
}
.fsjs-skin [data-fsjs-block=variation] {
  display: none;
}
@supports (font-variation-settings: normal) {
  .fsjs-skin [data-fsjs-block=variation] {
    display: block;
  }
}
figure {
  filter: grayscale(1);
  transition: filter 250ms ease-in;
}
figure:hover {
  filter: grayscale(0);
}
.main > .padding {
  max-width: 1600px;
  margin: 0 auto;
}

.shopify-placeholder {
  transform: scaleY(.5); 
  transform-origin: top;
  width: 100%;
  max-width: 320px;
  opacity: 0;
  transition: transform 300ms ease-in, opacity 600ms ease-in;
}
.shopify-placeholder.shopify-buy-frame {
  transform: scaleY(1);
  opacity: 1;
}

.shopify-buy__product label {
  font-family: var(--font-family-eyebrow);
  letter-spacing: 0.02em;
  font-size: 0.75rem;
  margin-bottom: .7vw;
  display: inline-block;
  text-transform: uppercase;
  color: var(--color-grey);
 
}
.shopify-buy__option-select-wrapper {
  position: relative;
}
.shopify-buy__product .shopify-buy__option-select__select {
  color: var(--color-black);
  appearance: none !important;
  width: 100%;
  padding: var(--padding-sm);
  background: var(--color-soft-blue);
  border: 0px;
  font-family: var(--font-family-sans);
  font-size: 1rem;
  letter-spacing: .05rem;
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;
  border-bottom: var(--border) var(--color-white);
}
.shopify-buy__product .shopify-buy__select-icon {
  position: absolute;
  pointer-events: none;
  height: 20px;
  width: 20px;
  right: 1.5vw;
  top: 50%;
  margin-top: 0px;
  transform: translateY(-50%);
}
.shopify-buy__product .shopify-buy__btn {
  border-radius: 0px 0px var(--border-radius) var(--border-radius);
}