* {
  margin: 0;
  padding: 0;
}

:root {
  --padding: 2.4vw 3vw;
  --padding-sm: 1.3vw 1.5vw;
  --padding-xs: .4vw .9vw;
  --padding-xxs: .2vw .5vw;
  --border: 2px solid;
  --border-radius: 8px;
  --font-family-sans: "VC Cardinal Wide", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  --font-family-serif: "VC Cornbread";
  --font-family-headline: "VC Cardinal";
  --font-family-headline-wide: "VC Cardinal Wide";
  --font-family-eyebrow: "VC Gooper Text";
}

html {
  font-family: var(--font-family-serif);
  font-weight: 400;
  font-size: 17px;
  line-height: 1.4;
  transition: color 700ms ease-in;
}

::selection {
  color: var(--color-black);
  background: var(--color-tan);
  text-shadow: 2px 2px 2px var(--color-white);
}
h1 { 
  font-size: 4rem;
  margin-bottom: 1.2vw;
  line-height: .9;
  font-family: var(--font-family-headline);
  font-weight: 600;
}
h2 { 
  font-size: 1.5rem;
  margin-bottom: 1vw;
  line-height: 1.2;
  letter-spacing: .05rem;
  font-family: var(--font-family-headline);
  font-weight: 600;
}
h4 { 
  font-size: 1.2rem;
  margin-bottom: 1vw;
  line-height: 1.4;
  letter-spacing: 0rem;
  font-family: var(--font-family-serif);
  font-weight: 600;
}
h5 { 
  font-size: .75rem;
  margin-bottom: 1vw;
  line-height: 1;
  letter-spacing: .05rem;
  text-transform: uppercase;
  font-family: var(--font-family-eyebrow);
  font-weight: 600;
}
h6 { 
  font-size: .9rem;
  margin-bottom: 1vw;
  letter-spacing: .05rem;
  line-height: 1.1;
  font-family: var(--font-family-headline-wide);
  font-weight: 600;
}
@media screen and (max-width: 39.9999rem) {
  html {
    font-size: 15px;
    line-height: 1.4;
  }
}
@media screen and (min-width: 40rem) and (max-width: 59.9999rem) {
  html {
    font-size: 16px;
    line-height: 1.4;
  }
}
p {
  margin-bottom: 1vw;
}
.no-mb {
  margin-bottom: 0px;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
img {
  width: 100%;
}
body {
  margin: 0 auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
a.link {
  color: var(--color-grey);
  text-decoration: none;
  border-bottom: var(--border) var(--color-grey);
}
a.link:hover {
  color: var(--color-black);
  border-bottom: var(--border) var(--color-black);
}
.hover-blue:hover {
  background: var(--color-soft-blue);
}
a.bg-blue {
  display: block;
  box-sizing: border-box;
  border-bottom: var(--border) var(--color-white);
}

a.bg-blue:hover {
  border-bottom: var(--border) var(--color-black);
}
a .hover-show {
  opacity: 0;
  transform: translateX(-40px);
  transition: all 100ms ease-in-out;
}
a:hover .hover-show {
  transform: translateX(0px);
  opacity: 1;
}
a .hover-hide {
  opacity: 1;
}
a:hover .hover-hide {
  opacity: 0;
}
button {
  font: inherit;
  background: none;
  border: 0;
  color: currentColor;
  cursor: pointer;
}
.button {
  display:block; 
  width: 100%; 
  box-sizing:border-box;
}
strong, b {
  font-weight: 600;
}
small {
  font-size: inherit;
  color: var(--color-grey);
}
.bt-yellow {
  border-top: var(--border) var(--color-yellow);
}
.bb-tan {
  border-bottom: var(--border) var(--color-yellow);
}
.bb-soft-blue {
  border-bottom: var(--border) var(--color-soft-blue);
}
.bt-tan {
  border-top: var(--border) var(--color-tan);
}
.bt-white {
  border-top: var(--border) var(--color-white);
}
.fill-black {
  fill: var(--color-black);
}
.stroke-black {
  stroke: var(--color-black);
  stroke-width: 2px;
}
.bg-yellow {
  background-color: var(--color-yellow);
}
.bg-tan {
  background-color: var(--color-tan);
}
.bg-coral {
  background-color: var(--color-coral);
}
.bg-light {
  background-color: var(--color-light);
}
.bg-blue {
  background-color: var(--color-soft-blue);
}
.bg-blue-gradient {
  background-image: linear-gradient(var(--color-soft-blue), rgba(0,0,0,0));
}
.bg-white {
  background-color: var(--color-white);
}
.bg-black {
  background-color: var(--color-bg-black);
}
.bg-grey {
  background-color: var(--color-grey);
}
.color-grey {
  color: var(--color-grey);
}
.padding {
  padding: var(--padding);
}
.padding-sm {
  padding: var(--padding-sm);
}
.padding-xs {
  padding: var(--padding-xs);
}
.padding-xxs {
  padding: var(--padding-xxs);
}
.color-white {
  color: var(--color-white);
}
.color-soft-blue {
  color: var(--color-soft-blue);
}
.color-yellow {
  color: var(--color-yellow);
}
.color-coral {
  color: var(--color-coral);
}
.color-tan {
  color: var(--color-tan);
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
  color:var(--color-black);
  border: var(--border) var(--color-black);
  padding: var(--padding-xs);
  background: var(--color-white);
  width: 100%;
  font-family: var(--font-family-sans);
  font-weight: 600;
  letter-spacing: .06em;
  font-size: .875rem;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}
input[type="text"]:hover, input[type="email"]:hover, input[type="url"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="number"]:hover, input[type="tel"]:hover, input[type="date"]:hover, input[type="month"]:hover, input[type="week"]:hover, input[type="time"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="color"]:hover, textarea:hover {
  border: var(--border) var(--color-grey);
  background: var(--color-blue);
}
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus {
  border: var(--border) var(--color-grey);
  background: var(--color-blue);
}
input[type="submit"] {
  width: 100%;
  color:var(--color-white);
  border: var(--border) var(--color-black);
  padding: var(--padding-xs);
  background: var(--color-black);
  width: 100%;
  font-family: var(--font-family-sans);
  font-weight: 600;
  letter-spacing: .06em;
  font-size: .875rem;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}
#mce-responses .response {
  font-family: var(--font-family-sans);
  font-weight: 600;
  letter-spacing: .06em;
  font-size: .875rem;
}

.header {
  overflow: hidden;
  display: flex;
  align-items: center;
  background: var(--color-yellow);
  padding: var(--padding);
}
.header > * {
  display: inline;
}

.header > .logo {
  flex-grow: 1;
}

.menu {
  text-align: right;
  
}
.menu > * {
  float: left;
  margin-left: 3vw;
}
.menu .link a {
  padding-top: 4px;
  display: inline-block;
  border-bottom: var(--border) transparent;
}
.menu .link a:hover {
  border-bottom: var(--border) var(--color-black);
}
.menu .link [aria-current] {
  border-bottom: var(--border) var(--color-black);
}
.social {
  display: flex;
  padding: 0 .5rem;
}
.social a {
  padding: 1rem .5rem;
}

.section {
  padding: 3rem 0;
}

.flex {
  display: flex;
}
.grid {
  --columns: 12;
  --gutter: 0rem;
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: 1fr;
}
.grid-locked > .column {
  grid-column: span var(--columns);
}

.autogrid {
  --gutter: 3rem;
  --min: 10rem;
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
  grid-auto-flow: dense;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.article-text > p,
.article-text > ol,
.article-text > ul {
  line-height: 1.5;
  letter-spacing: .025em;
}
.main p {
  line-height: 1.5;
  letter-spacing: .025em;
}
.footer p {
  line-height: 1.5;
  letter-spacing: .025em;
}
.article-text a {
  text-decoration: underline;
}
.article-text :first-child {
  margin-top: 0;
}
.article-text :last-child {
  margin-bottom: 0;
}
.article-text > *:not(a) {
  margin-bottom: 1.5vw;
}
.article-text ul > li {
  list-style: disc;
  margin-left: 3.5vw;
}
.article-text ol > li {
  list-style: decimal;
  margin-left: 3.5vw;
}
.article-text ul ol,
.article-text ul ul,
.article-text ol ul,
.article-text ol ol {
  margin-bottom: 0;
}
.article-text .codeblock {
  display: grid;
}
.article-text code {
  font-family: var(--font-family-mono);
  font-size: 1rem;
  background: var(--color-tan);
  border-radius: var(--border-radius);
  padding: var(--padding-xxs);
  display: inline-block;
  color: var(--color-black);
}
.article-text pre {
  margin: 3rem 0;
  background: var(--color-black);
  color: var(--color-white);
  padding: 1.5rem;
  overflow-x: scroll;
  overflow-y: hidden;
  line-height: 1.5rem;
}
.article-text pre code {
  padding: 0;
  background: none;
  color: inherit;
}
.article-text hr {
  margin: 6rem 0;
}
.article-text dt {
  font-weight: 600;
}
.article-text blockquote {
  font-size: 1.25rem;
  line-height: 1.325em;
  border-left: 2px solid var(--color-black);
  padding-left: 1rem;
  margin: 3rem 0;
  max-width: 25rem;
}
.article-text blockquote footer {
  font-size: .875rem;
  font-style: italic;
}
.article-text > figure {
  filter: grayscale(1);
  transition: filter 250ms ease-in;
}
.article-text > figure:hover {
  filter: grayscale(0);
}
.article-text figure+*:not(figure) {
  margin-top: 2vw;
}
.article-text figure~figure {
  margin-bottom: 1.5vw;
}
.article-text figure figcaption, .article-footnotes {
  color: var(--color-grey);
  font-family: var(--font-family-headline-wide);
  font-weight: 600;
  letter-spacing: 0.06em;
  font-feature-settings: "frac";
  font-size: .75rem;
  line-height: 1.6;
  max-width: 360px;
}
.article-footnotes ol {

}
.article-footnotes ol li {
  list-style-type: decimal;
  margin-left: 17px;
  margin-bottom: 1vw;
}
.main {
  transition: height 200ms ease-in;
  min-height: 50vh;
}
.page-typefaces dl > *, .page-articles dl > * {
  display: inline-block;
}
.page-typefaces dl > dt, .page-articles dl > dt {
  min-width: 110px;
}

hr {
  border: 0;
  background: currentColor;
  height: 2px;
  width: 1.5rem;
  margin: 3rem auto;
}

.intro {
  max-width: 40rem;
}
.intro *:not(:last-child) {
  margin-bottom: 1em;
}

.cta {
  background: var(--color-black);
  color: var(--color-white);
  display: inline-flex;
  justify-content: center;
  padding: .75rem 1.5rem;
  border: 4px solid var(--color-white);
  outline: 2px solid var(--color-black);
}

.box {
  background: var(--color-light);
  padding: 1.5rem;
  border: 4px solid var(--color-white);
  outline: 2px solid var(--color-light);
}

.video,
.img {
  position: relative;
  display: block;
  --w: 1;
  --h: 1;
  padding-bottom: calc(100% / var(--w) * var(--h));
  background: var(--color-black);
}
.img img,
.video iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0;
}
.img[data-contain] img {
  object-fit: contain;
}
.img-caption,
.video-caption {
  padding-top: .75rem;
  line-height: 1.5em;
}


.footer .column {
  padding: var(--padding);
}
.footer a:hover {
  text-transform: underline;
}

.margin-s {
  margin-bottom: .75vw;
}
.margin-m {
  margin-bottom: 1.5vw;
}
.margin-l {
  margin-bottom: 2vw;
}
.margin-xl {
  margin-bottom: 4.5rem;
}
.margin-xxl {
  margin-bottom: 6rem;
}

@media screen and (max-width: 59.9999rem) {
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}
@media screen and (min-width: 60rem) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }

  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid > .column {
    grid-column: span var(--columns);
  }

}

.pagination > span {
  color: var(--color-grey);
  background: var(--color-tan);
}
.pagination > * {
  display: inline-block;
  padding: var(--padding-xs);
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  border-bottom: var(--border) var(--color-white);
  background: var(--color-soft-blue);
}
.pagination > a:hover {
  color: var(--color-black);
  border-bottom: var(--border) var(--color-black);
}

.container {
  width: 96%;
  max-width: 1040px;
  margin: 0 auto;
}
.article-tags a {
  display: inline-block;
  background: var(--color-soft-blue);
  padding: var(--padding-xs);  
}
.article-tags a:hover {
  background: var(--color-tan);  
}
.article-intro {
  padding: var(--padding-sm);
  border-radius: var(--border-radius);
}
.rounded-corners {
  border-radius: var(--border-radius);
}
.rounded-corners-full {
  border-radius: 20px;
}
.article-footer {
}

.article-excerpt header {
  
}
.article-excerpt figure {
  
}
.article-excerpt-title {
  margin-bottom: .25vw;
}
.article-excerpt-date {
  margin-bottom: 0px;
}

.theme-switch-wrapper {
  align-items: center;
}
.theme-switch {
  cursor: pointer;
}
.theme-switch:hover svg {
  background: var(--color-coral);
  border-radius: 100%;
}

.theme-switch input {
  display: none;
}

.theme-switch {
  
}

.shopify-cart-toggle {
  position: relative;
  text-align: center;
  cursor: pointer;
}
.shopify-cart-toggle:hover {
  color: var(--color-coral);
}
.shopify-cart-toggle svg {
  display: inline;
}
.shopify-buy-frame--toggle {
  padding: 0px !important;
}
.shopify-cart-toggle svg.shopify-buy__icon-cart {
  display: none;
}
.shopify-buy--visually-hidden, .visuallyhidden {
  display: none;
}
.shopify-buy__cart-toggle {
  position: absolute;
  top: 50%;
  line-height: 1;
  transform: translateY(-35%);
  left: 0px;
  font-family: var(--font-family-sans);
  width: 100%;
}

.shopify-buy-cart-wrapper {
  
}
.shopify-buy__cart__header {
  padding: var(--padding);
  display: flex;
  border-left: var(--border) var(--color-white);
  background: var(--color-yellow);
}
.shopify-buy__cart-bottom {
  padding: var(--padding);
  border-left: var(--border) var(--color-white);
  border-bottom: var(--border) var(--color-white);
  background: var(--color-tan);
  
}
.shopify-buy__cart__subtotal__price {
  font-family: var(--font-family-headline);
  font-size: 1.5rem;
}
.shopify-buy__cart__subtotal__text {
  font-family: var(--font-family-eyebrow);
  font-size: .675rem;
  margin-bottom: 5px;
  letter-spacing: 0.02em;
}
.shopify-buy__cart__title {
  flex-grow: 1;
  font-size: 1.25rem;
  margin-bottom: 11px;
  margin-top: 12px;
  line-height: 1.4;
  letter-spacing: 0rem;
  font-family: var(--font-family-serif);
  font-weight: 600;
}
.shopify-buy__cart-item {
  padding: var(--padding);
  background: var(--color-tan);
  font-family: var(--font-family-sans);
  border-bottom: var(--border) var(--color-white);
  border-left: var(--border) var(--color-white);
  position: relative;
}
.shopify-buy__cart-empty-text {
  padding: var(--padding);
  background: var(--color-tan);
  border-bottom: var(--border) var(--color-white);
  border-left: var(--border) var(--color-white);
}
.shopify-buy__cart-item .shopify-buy__cart-item__title {
  
}
.shopify-buy__cart-item .shopify-buy__cart-item__price-and-discounts {
  text-align: right;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.5vw;
  
}
.shopify-buy__cart-item .shopify-buy__cart-item__variant-title {
  font-size: .675rem;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}
.shopify-buy__cart-item .shopify-buy__cart-item__image {
  background-size: cover;
  display: none;
}
.shopify-buy__quantity-container {
  
}
.shopify-buy__cart-item.is-hidden { animation-name: flipOut; }
.shopify-buy__btn--close {
  padding-left: 20px;
  line-height: .25;
  font-size: 30px;
  margin-top: -10px;
  outline: none;
}
.shopify-buy__btn--cart-checkout {
  font-family: var(--font-family-sans);
}

/* Theme switcher */
input + svg {
  transform: rotate(0deg);
}
input:checked + svg {
  transform: rotate(180deg);
}