.contact {
  
}
.contact .h1 {
  margin-bottom: 1.5rem;
}
.page-about .main section:last-of-type {
  background: var(--color-coral);
  padding: var(--padding);
  margin-bottom: 0px;
}
.page-about .main section:last-of-type img {
  max-height: 100px;
  width: auto;
}