.contact {
  
}
.contact .h1 {
  margin-bottom: 1.5rem;
}
.page-about .main section {
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color-soft-blue)), to(rgba(0,0,0,0)));
  background-image: linear-gradient(var(--color-soft-blue), rgba(0,0,0,0));
}
.page-about .main section:last-of-type {
  background: var(--color-coral);
  margin-bottom: 0px;
}
.page-about .main section:last-of-type img {
  max-height: 100px;
  width: auto;
}