@charset "UTF-8";
.fsjs-skin {
  opacity: 0;
  border-top: var(--border) var(--color-blue);
  position: relative;
}

.fsjs-skin.fsjs-initialized {
  opacity: 1;
  display: block;
  background: var(--color-white);
}
.fsjs-skin .fsjs-block-tester {
  transition: opacity 0.2s ease-out;
  opacity: 1;
}
.fsjs-skin.fsjs-loading .fsjs-block-tester, .fsjs-skin.fsjs-timeout .fsjs-block-tester {
  opacity: 0;
}
.fsjs-skin > .fsjs-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: linear-gradient(var(--color-soft-blue), rgba(0,0,0,0));
  transition: color 0.2s ease-out;
  color: var(--color-soft-blue);
}
.fsjs-skin:hover .fsjs-wrapper {
  color: var(--color-grey);
}
@media screen and (max-width: 53.9999rem) {
  .fsjs-skin .fsjs-block:not(.fsjs-block-fontsize, .fsjs-block-fontfamily, .fsjs-block-tester, .fsjs-block-type-textfield) {
    display: none;
  }
}
@media screen and (min-width: 54rem) {
  .fsjs-skin > .fsjs-wrapper {
    flex-wrap: nowrap;
  }
}
.fsjs-skin .fsjs-block-tester {
  display: block;
}
.fsjs-skin .fsjs-block-tester .fsjs-element {
  padding: var(--padding-xs);
  margin-top: -1.5vw; 
  margin-bottom: 1.5vw;
}
.fsjs-skin .fsjs-block-tester .fsjs-element:focus {
  
}

.fsjs-skin .fsjs-block,
.fsjs-skin [data-axis-block] {
  width: 100%;
}
.fsjs-skin .fsjs-block:not(.fsjs-block-type-textfield) {
  box-sizing: border-box;
  align-self: center;
  position: relative;
  padding: var(--padding-xs);
  font-family: var(--font-family-sans);
  font-weight: 600;
  letter-spacing: 0.055em;
  width: 100%;
  border-radius: 2px;
}
.fsjs-skin .fsjs-block.fsjs-block-alignment, .fsjs-skin .fsjs-block.fsjs-block-opentype {
  width: 35%;
}
.fsjs-skin .fsjs-block:not(.fsjs-block-alignment, .fsjs-block-opentype, .fsjs-block-tester, .fsjs-block-type-textfield) {
  width: 50%;
}

.fsjs-skin [data-axis-block] {
  margin-top: 0;
  margin-bottom: 0;
}
.fsjs-skin .fsjs-label {
  line-height: 1.5em;
}
.fsjs-wrapper > div.fsjs-block.fsjs-block-type-slider > label > .fsjs-label-text {
  display: none;
}
.fsjs-skin .fsjs-block-type-slider .fsjs-label,
.fsjs-skin .fsjs-block-type-slidergroup .fsjs-label {
  width: 100%;
}
.fsjs-skin .fsjs-block-type-slider .fsjs-label span:first-child,
.fsjs-skin .fsjs-block-type-slidergroup .fsjs-label span:first-child {
  margin-right: auto;
}

.fsjs-skin .fsjs-block-opentype .fsjs-label {
  display: block;
  justify-content: flex-start;
}
.fsjs-skin [contenteditable] {
  outline: none;
  color: var(--color-black);
}
.fsjs-skin .fsjs-button, .fsjs-skin .fsjs-block-type-buttongroup button {
  background: transparent;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: 1;
  align-self: center;
  width: 24px;
  height: 24px;
}
.fsjs-skin .fsjs-button:hover, .fsjs-skin .fsjs-block-type-buttongroup button:hover {
  background: var(--color-soft-blue);
  color: var(--color-grey);
}

.fsjs-skin .fsjs-block-type-buttongroup button {
  border-radius: 0;
}
.fsjs-skin .fsjs-block-type-buttongroup button:first-of-type {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.fsjs-skin .fsjs-block-type-buttongroup button:last-of-type {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.fsjs-skin .fsjs-block-type-buttongroup button + button {
  border-right: 2px solid transparent;
}
.fsjs-skin .fsjs-block-type-checkboxes {
  display: flex;
  align-items: center;
  flex-grow: 0;
}
.fsjs-skin .fsjs-block-type-checkboxes [data-fsjs] label {
  cursor: pointer;
  padding: 5px;
  flex-grow: 1;
}
.fsjs-skin .fsjs-block-type-checkboxes [data-fsjs] label input[type=checkbox] + span:before {
  background: var(--color-soft-blue);
}
.fsjs-skin .fsjs-block-type-checkboxes [data-fsjs] label:hover input[type=checkbox] + span:before, .fsjs-skin .fsjs-block-type-checkboxes [data-fsjs] label:focus input[type=checkbox] + span:before {
  background: var(--color-grey);
}
.fsjs-skin .fsjs-block-type-checkboxes input[type=checkbox] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}
.fsjs-skin .fsjs-block-type-checkboxes label.fsjs-checkbox-inactive {
  pointer-events: none;
}
.fsjs-skin .fsjs-block-type-checkboxes label.fsjs-checkbox-inactive input[type=checkbox]:checked + span:after {
  background: var(--color-black);
}
.fsjs-skin .fsjs-block-type-checkboxes input[type=checkbox] + span {
  position: relative;
  padding-left: 27px;
}
.fsjs-skin .fsjs-block-type-checkboxes input[type=checkbox] + span:before, .fsjs-skin .fsjs-block-type-checkboxes input[type=checkbox] + span:after {
  content: " ";
  display: block;
  border-radius: 2px;
  position: absolute;
  left: 6px;
  top: 6px;
  height: 10px;
  width: 10px;
}
.fsjs-skin .fsjs-block-type-checkboxes input[type=checkbox]:checked + span:after {
  border-radius: 0;
  background: var(--color-black);
  border: 0px solid var(--color-black);
  border-radius: 2px;
  padding: 0;
  left: 6px;
  top: 6px;
}
.fsjs-skin .dk-select,
.fsjs-skin .dk-select *,
.fsjs-skin .dk-select *:before,
.fsjs-skin .dk-select *:after,
.fsjs-skin .dk-select-multi,
.fsjs-skin .dk-select-multi *,
.fsjs-skin .dk-select-multi *:before,
.fsjs-skin .dk-select-multi *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fsjs-skin .dk-select,
.fsjs-skin .dk-select-multi {
  position: relative;
  display: block;
  vertical-align: middle;
  cursor: pointer;
}
.fsjs-skin .dk-selected {
  min-width: 230px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  padding: 0.1em 0.5em 0;
  padding-right: 1.5em;
  line-height: 2em;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.fsjs-skin .dk-selected:before, .fsjs-skin .dk-selected:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
}
.fsjs-skin .dk-selected:before {
  top: 50%;
  border: var(--border) transparent;
  border-width: 0.25em 0.25em 0;
  margin: -0.125em 0.5em 0 0;
}
.fsjs-skin .dk-selected:after {
  top: 0;
  height: 100%;
  margin: 0 1.5em 0 0;
}
.fsjs-skin .dk-selected-disabled {
  color: var(--color-grey);
}
.fsjs-skin .dk-select .dk-select-options {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
}
.fsjs-skin .dk-select-open-up .dk-select-options {
  border-radius: 2px 2px 0 0;
  margin-bottom: -1px;
  bottom: 100%;
}
.fsjs-skin .dk-select-open-down .dk-select-options {
  border-radius: 0 0 2px 2px;
  margin-top: -1px;
  top: 100%;
}
.fsjs-skin .dk-select-multi .dk-select-options {
  max-height: 10em;
}
.fsjs-skin .dk-select-options {
  list-style: none;
  margin: 0;
  max-height: 75vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  width: auto;
  z-index: 100;
  box-shadow: 3px 3px 0px 0px var(--color-grey);
}
.fsjs-skin .dk-select-options-highlight .dk-option-selected {
  background-color: transparent;
  color: inherit;
}
.fsjs-skin .dk-option {
  padding: 0.1em 0.5em 0;
  line-height: 2em;
}
.fsjs-skin .dk-select-options .dk-option-highlight {
  background: var(--color-soft-blue);
  color: var(--color-black);
}
.fsjs-skin .dk-select-options .dk-option-disabled {
  color: var(--color-grey);
  background-color: transparent;
}
.fsjs-skin .dk-select-options .dk-option-hidden {
  display: none;
}
.fsjs-skin .dk-select-open-up .dk-select-options,
.fsjs-skin .dk-select-open-down .dk-select-options,
.fsjs-skin .dk-select-multi:focus .dk-select-options {
  display: block;
  background: var(--color-white);
}
.fsjs-skin .dk-selected:hover,
.fsjs-skin .dk-selected:focus {
  outline: none;
  background: var(--color-soft-blue);
  color: var(--color-black);
}
.fsjs-skin .dk-select-disabled {
  opacity: 0.6;
  background: var(--color-grey);
  cursor: not-allowed;
}
.fsjs-skin .dk-select-disabled .dk-selected:hover, .fsjs-skin .dk-select-disabled .dk-selected:focus {
  border-color: inherit;
}
.fsjs-skin .dk-select-disabled .dk-selected:hover:before, .fsjs-skin .dk-select-disabled .dk-selected:focus:before {
  border-top-color: inherit;
}
.fsjs-skin .dk-select-disabled .dk-selected:hover:after, .fsjs-skin .dk-select-disabled .dk-selected:focus:after {
  border-left-color: inherit;
}
.fsjs-skin select[data-dkcacheid] {
  display: none;
}
.fsjs-skin .rangeSlider {
  margin: 0.5em auto;
}
.fsjs-skin .rangeSlider,
.fsjs-skin .rangeSlider__fill {
  display: block;
  border-radius: 2px;
}
.fsjs-skin .rangeSlider {
  position: absolute;
  top: 0px;
  transform: translateY(50%);
  left: 0px;
  height: 14px;
  z-index: 0;
  background: var(--color-soft-blue);
}
.fsjs-skin .rangeSlider__horizontal {
  height: 2px;
  width: 100%;
}

.fsjs-wrapper > div.fsjs-block.fsjs-block-type-slider > .rangeSlider {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.fsjs-wrapper > div.fsjs-block.fsjs-block-type-slider:hover, .fsjs-wrapper > div.fsjs-block.fsjs-block-type-slider:active {
  background: var(--color-soft-blue);
  color: var(--color-soft-blue);
}
.fsjs-wrapper > div.fsjs-block.fsjs-block-type-slider:hover .fsjs-skin .dk-selected:before, .fsjs-wrapper > div.fsjs-block.fsjs-block-type-slider:active .fsjs-skin .dk-selected:before {
  border-top-color: var(--color-black);
}
.fsjs-skin .fsjs-block-type-checkboxes label.fsjs-checkbox-inactive input[type=checkbox] + span:before, .fsjs-skin .fsjs-block-type-checkboxes label.fsjs-checkbox-inactive input[type=checkbox] + span:after {
  border-color: var(--color-black);
}
.fsjs-skin .fsjs-button.fsjs-button-selected, .fsjs-skin .fsjs-block-type-buttongroup button.fsjs-button-selected {
  color: var(--color-black);
}
.fsjs-wrapper > div.fsjs-block.fsjs-block-type-slider:hover > .rangeSlider, .fsjs-wrapper > div.fsjs-block.fsjs-block-type-slider:active > .rangeSlider {
  opacity: 1;
}

.fsjs-skin .rangeSlider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
.fsjs-skin .rangeSlider__fill {
  background: var(--color-soft-blue);
  position: absolute;
}
.fsjs-skin .rangeSlider__fill__horizontal {
  height: 100%;
  top: 0;
  left: 0;
}
.fsjs-skin .rangeSlider__handle {
  cursor: pointer;
  display: inline-block;
  width: 12px;
  height: 12px;
  position: absolute;
  background: var(--color-black);
  border-radius: 50%;
  left: 0;
}
.fsjs-skin .rangeSlider__handle__horizontal {
  top: -1px;
}
.fsjs-skin .rangeSlider__handle:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  background: transparent;
  border-radius: 50%;
}
.fsjs-skin .fsjs-disabled .fsjs-label {
  color: var(--color-grey);
}
.fsjs-skin .fsjs-disabled .rangeSlider {
  pointer-events: none;
  background-color: var(--color-grey);
}
.fsjs-skin .fsjs-disabled .rangeSlider .rangeSlider__handle,
.fsjs-skin .fsjs-disabled .rangeSlider .rangeSlider__fill {
  background-color: var(--color-grey);
}
.fsjs-skin .fsjs-disabled .dk-select .dk-selected {
  color: var(--color-grey);
}
.fsjs-skin [data-fsjs-block=variation] {
  display: none;
}
@supports (font-variation-settings: normal) {
  .fsjs-skin [data-fsjs-block=variation] {
    display: block;
  }
}

.album-gallery {
  line-height: 0;
  columns: 1;
  column-gap: 1.5rem;
}
.album-gallery li {
  display: block;
  margin-bottom: 1.5rem;
  break-inside: avoid;
}
@media screen and (min-width: 60rem) {
  .album-gallery {
    columns: 2;
  }
}

.shopify-buy__product {
 
}
.shopify-buy__option-select-wrapper {
  position: relative;
}
.shopify-buy__option-select__select {
  color: var(--color-black);
  appearance: none;
  width: 100%;
  padding: var(--padding-sm);
  background: var(--color-tan);
  border: 0px;
  font-family: var(--font-family-sans);
  font-size: 1rem;
  margin-bottom: 1vw;
  letter-spacing: .05rem;
  border-radius: var(--border-radius);
}
.visuallyhidden {
  display: none;
}
.shopify-buy__select-icon {
  position: absolute;
  pointer-events: none;
  height: 20px;
  width: 20px;
  right: 1.5vw;
  top: 50%;
  margin-top: -5px;
  transform: translateY(-50%);
}
.shopify-buy__btn {
  background: var(--color-coral);
  padding: var(--padding-sm);
  width: 100%;
  border-radius: var(--border-radius);
}