.page-home .bb-soft-blue ~ .bb-soft-blue:last-of-type {
  border-bottom: 0px;
}
.type-preview {
  position: relative;
  transition: background 500ms ease-in;
}
.full-width-text {
  margin-top: -.75vw;
  margin-bottom: .75vw;
}
.page-home .type-preview .font-details {
  position: absolute;
  padding: var(--padding-sm);
  left: 0px;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  color: var(--color-soft-blue);
  background-image: linear-gradient(rgba(0,0,0,0), var(--color-soft-blue));
  opacity: 1;
  transition: color 150ms ease-in;
}
.page-home .type-preview:hover .font-details {
  color: var(--color-grey);
}
.full-width-text {
  text-align: center;
  font-size: 180px; /* Some tweener fallback that doesn't look awful */ 
  font-size: calc((80vw - 5rem) / 7);
  line-height: 1.05;
  
}