@font-face {
  font-family: 'VC Cornbread';
  font-style: normal;
  font-weight: 900;
  src: url("../../webfonts/Cornbread/VCCornbread-Super.woff2") format("woff2"), url("../../webfonts/Cornbread/VCCornbread-Super.woff") format("woff"); }

@font-face {
  font-family: 'VC Cornbread';
  font-style: normal;
  font-weight: 800;
  src: url("../../webfonts/Cornbread/VCCornbread-Black.woff2") format("woff2"), url("../../webfonts/Cornbread/VCCornbread-Black.woff") format("woff"); }

@font-face {
  font-family: 'VC Cornbread';
  font-style: normal;
  font-weight: 700;
  src: url("../../webfonts/Cornbread/VCCornbread-Bold.woff2") format("woff2"), url("../../webfonts/Cornbread/VCCornbread-Bold.woff") format("woff"); }

@font-face {
  font-family: 'VC Cornbread';
  font-style: normal;
  font-weight: 600;
  src: url("../../webfonts/Cornbread/VCCornbread-SemiBold.woff2") format("woff2"), url("../../webfonts/Cornbread/VCCornbread-SemiBold.woff") format("woff"); }

@font-face {
  font-family: 'VC Cornbread';
  font-style: normal;
  font-weight: 400;
  src: url("../../webfonts/Cornbread/VCCornbread-Regular.woff2") format("woff2"), url("../../webfonts/Cornbread/VCCornbread-Regular.woff") format("woff"); }

@font-face {
  font-family: 'VC Cornbread';
  font-style: normal;
  font-weight: 300;
  src: url("../../webfonts/Cornbread/VCCornbread-Light.woff2") format("woff2"), url("../../webfonts/Cornbread/VCCornbread-Light.woff") format("woff"); }

@font-face {
  font-family: 'VC Cornbread';
  font-style: normal;
  font-weight: 100;
  src: url("../../webfonts/Cornbread/VCCornbread-Thin.woff2") format("woff2"), url("../../webfonts/Cornbread/VCCornbread-Thin.woff") format("woff"); }

@font-face {
  font-family: 'VC Cornbread';
  font-style: italic;
  font-weight: 900;
  src: url("../../webfonts/Cornbread/VCCornbread-SuperItalic.woff2") format("woff2"), url("../../webfonts/Cornbread/VCCornbread-SuperItalic.woff") format("woff"); }

  @font-face {
  font-family: 'VC Cornbread';
  font-style: italic;
  font-weight: 800;
  src: url("../../webfonts/Cornbread/VCCornbread-BlackItalic.woff2") format("woff2"), url("../../webfonts/Cornbread/VCCornbread-BlackItalic.woff") format("woff"); }

@font-face {
  font-family: 'VC Cornbread';
  font-style: italic;
  font-weight: 700;
  src: url("../../webfonts/Cornbread/VCCornbread-BoldItalic.woff2") format("woff2"), url("../../webfonts/Cornbread/VCCornbread-BoldItalic.woff") format("woff"); }

@font-face {
  font-family: 'VC Cornbread';
  font-style: italic;
  font-weight: 600;
  src: url("../../webfonts/Cornbread/VCCornbread-SemiBoldItalic.woff2") format("woff2"), url("../../webfonts/Cornbread/VCCornbread-SemiBoldItalic.woff") format("woff"); }

  @font-face {
  font-family: 'VC Cornbread';
  font-style: italic;
  font-weight: 400;
  src: url("../../webfonts/Cornbread/VCCornbread-RegularItalic.woff2") format("woff2"), url("../../webfonts/Cornbread/VCCornbread-RegularItalic.woff") format("woff"); }

@font-face {
  font-family: 'VC Cornbread';
  font-style: italic;
  font-weight: 300;
  src: url("../../webfonts/Cornbread/VCCornbread-LightItalic.woff2") format("woff2"), url("../../webfonts/Cornbread/VCCornbread-LightItalic.woff") format("woff"); }

@font-face {
  font-family: 'VC Cornbread';
  font-style: italic;
  font-weight: 100;
  src: url("../../webfonts/Cornbread/VCCornbread-ThinItalic.woff2") format("woff2"), url("../../webfonts/Cornbread/VCCornbread-ThinItalic.woff") format("woff"); }
